.container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
}
.shopItem {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  background-color: #f2f5fd;
  margin-bottom: 10px;
  color: #666;
}
.cardItem{
  margin-bottom: 20px;
}
.image{
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 2px;
  margin-right: 10px;
}